.about_list{
    display: flex;
    position: relative;
    top: 13rem;
    left: 0rem;
    /* text-align: center; */
    padding: 19px 0px;
    justify-content: center;
}
@media(min-width:1020px){
  .about_list{
    left: -19rem;
    top: 19rem;
  }
}
.about_line{
    color:#DB4437;
    font-size: 22px;
}
@media(min-width:1020px){
  .about_line{
    
  }
}
.about_h{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 50px;
    /* text-align: center; */
}
@media(min-width:1020px){
  .about_h{
    
  }
}


.another_para{
    position: relative;
    left: 0rem;
    top: 2rem;
    color:white;
    text-align: center;
}
@media(min-width:1020px){
  .another_para{
    left: 38rem;
    top: -19rem;
    text-align: start;
  }
}
.another_para_1{
    position: relative;
    left: 0rem;
    top: 1rem;
    color:white;
    text-align: center;
}
@media(min-width:1020px){
  .another_para_1{
    left: 38rem;
    top: -19rem;
    text-align: start;
  }
}
.new_praise{
    display:block;
    position: relative;
    top: 31rem;
}
@media(min-width:1020px){
  .new_praise{
    display:flex;
    justify-content: center;
  }
}

.praise{
    list-style: none;
    padding: 43px 78px;
    color: white;
    font-size: 17px;
    text-align: center;
}
@media(min-width:1020px){
  .praise{
    padding: 19px 78px;
  }
}
.fa-slideshare{
    color: white;
    position: relative;
    font-size: 77px;
    top: -1rem;
    left: 0rem; 
    display: flex;
    justify-content: center
   
    

}
@media(min-width:1020px){
  .fa-slideshare{
    left: 15rem;
    top: -10rem;
  }
}
.fa-slideshare:hover,
.fa-slideshare:active{
    color:#DB4437;
    animation: popup 4s linear infinite;
}
@keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }
.fa-bicycle{
    color: #DB4437;
    position: relative;
    font-size: 77px;
    top: 1rem;
    left: 0rem;
    display: flex;
    justify-content: center;
    animation: popup 4s linear infinite;
}
@media(min-width:1020px){
  .fa-bicycle{
    left: 16rem;
    top: -10rem;
  }
}
@keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }
  



.fa-heart{
    color: white;
    position: relative;
    font-size: 77px;
    top: 1rem;
    left: 0rem; 
    display: flex;
    justify-content: center
    
}
@media(min-width:1020px){
  .fa-heart{
    left: 15rem;
    top: -10rem;
  }
}
.fa-heart:hover,
.fa-heart:active{
    color:#DB4437;
    animation: popup 4s linear infinite;
}
@keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }
  footer{
   
     
  }

.icons{
    background-color:rgb(19, 15, 15,0.5);
    position: relative;
    top: 44.5rem;
    text-align: center;

}
.icon{
    height: 16rem;
    padding:70px;
   
}
 
 .fa-facebook-square{
     color: white;
     font-size: 20px;
     padding: 12px 12px
 }
 
 .fa-facebook-square:hover,
 .fa-facebook-square:active{
    background-color:#DB4437;
    border-radius: 2rem;
    height: 48px;
    width: 48px;
   
 }
 .fa-twitter-square{
     color: white;
     font-size: 20px;
     padding: 12px 12px
 }
 .fa-twitter-square:hover,
 .fa-twitter-square:active{
    background-color:#DB4437;
    border-radius: 2rem;
    height: 48px;
    width: 48px;
  
 }
 .fa-pinterest-square{
     color: white;
     font-size: 20px;
     padding: 12px 12px
 }
 .fa-pinterest-square:hover,
 .fa-pinterest-square:active{
    background-color:#DB4437;
    border-radius: 2rem;
    height: 48px;
    width: 48px;
    
 }
 .fa-linkedin{
     color: white;
     font-size: 20px;
     padding: 12px 12px
 }
 .fa-linkedin:hover,
 .fa-linkedin:active{
    background-color:#DB4437;
    border-radius: 2rem;
    height: 48px;
    width: 48px;
   
 }

.copy__{
    color:white;
    position: relative;
    left: 1rem;
    top: -6rem;
}